{% extends "bootstrap/base.html" %}

<head>
    <title>Rx Verify</title>
</head>

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

<body>
<!-- Navigation bar -->
{% block navbar %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="active"><a href="{{ url_for("profile.profile_main") }}">Main</a></li>
            {% else %}
                <li class="active"><a href="{{ url_for("main.index") }}">Main</a></li>
            {% endif %}

            <li><a href="{{ url_for("interaction.interaction_main") }}">Drug Interactions</a></li>
            <li><a href="{{ url_for("main.guide") }}">User Guide</a></li>

            {% if current_user.is_authenticated  %}
                <li><a href="{{ url_for("profile.medmain") }}">Medications</a></li>
                <li><a href="{{ url_for("auth.logout")}}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for("auth.login")}}">Login</a></li>
                <li><a href="{{ url_for("auth.register")}}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

<!-- Where the main content of each page goes -->
{% block content %}
<div class="container">

    <!-- Displays form validation errors;
    source: https://stackoverflow.com/questions/6463035/wtforms-getting-the-errors/20644520#20644520 -->
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}


    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

</body>
