{% extends 'base.html' %}

{% block head %}
{{ super() }}
    <link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css'
          rel="stylesheet">
{% endblock %}

{% block page_content %}
<h1>Drug Interaction</h1>

<!-- Disclaimer for using the interaction tool -->
<div id="disclaimer-text" class="alert-info">
    <small>
    The drug interaction tool uses information from the National Library of Medicine (NLM). It is not the intention of
    NLM to provide specific medical advice but rather to provide users with information to better understand their
    health and their diagnosed disorders. Specific medical advice will not be provided, and NLM urges you to consult
    with a qualified physician for diagnosis and for answers to your personal questions.
    </small>
</div>


<div class="container-fluid">
    <form method="POST">
    {{ form.csrf_token }}

    <div class = "row">
        <div class="col-md-6">
        <!-- Row for medication entry -->
            <div class="row row_margin">
                <label for="medication name" class="form-label">Medication Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="rxterms" name="rxterms">
                    <span class="input-group-btn">{{ form.btn_add(class="btn btn-primary") }}</span>
                </div>
            </div>
        <!-- Row for checkbox to include active medication -->
        {% if current_user.is_authenticated %}
            <div class="row row_margin">
                <input type="checkbox" id="include_rx" name="include_rx" value="include_rx">
                <label for="include_rx"> Click here to include your active medications</label>
            </div>
        {% endif %}
        <!-- Row to include select input to show medication entries -->
            <div class="row row_margin">
                {% if list | length > 0 %}
                    <select style="width: 80%; float: left" class="form-control" id = "med_list" name = "med_list"
                            size = {{ list | length }}>
                    {% for key in list %}
                        <option>{{ key }}</option>
                    {% endfor %}
                    </select>

                    {{ form.btn_remove(class="btn btn-danger", id="drug_intx_remove") }}
                {% endif %}
            </div>
        <!-- Row to include the submit button -->
{#            {% if list | length > 1 %}#}
                <div class="row row_margin">
                    {{ form.btn_submit(class="btn btn-info", id="drug_tx_submit") }}
                </div>
{#            {% endif %}#}
        </div>
        <div class="col-md-6">
        <!-- Displays the results -->
            {% if result | length > 0 %}
                <h4>Drug interaction result</h4>
                <!-- Display a message if there is no drug interaction -->
                {% if result[0] == "There is no reported drug interaction" %}
                    <div class = "result-block">There is no reported drug interaction</div>
                {% else %}
                <!-- Display a message if there is at least one drug interaction -->
                    {% for key in result %}
                        <div class = "result-block">
                            <p class = "interaction-names">{{ key[0] }} and {{ key[1] }}</p>
                            {{ key[3] }}
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
            {% endif %}
    </div>
    </form>

<!-- JQuery and JS needed for autocomplete-lhc feature;
source: https://clinicaltables.nlm.nih.gov/apidoc/rxterms/v3/doc.html -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
<script>
    new Def.Autocompleter.Search('rxterms',
        'https://clinicaltables.nlm.nih.gov/api/rxterms/v3/search?ef=STRENGTHS_AND_FORMS');
    Def.Autocompleter.Event.observeListSelections('rxterms', function() {
    });

    <!-- Prevent the enter key from submitting a form by mistake -->
    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });
</script>


{% endblock %}