{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="med.css")}}">
{% endblock %}

{% block page_content %}
<h1>Medications</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#active" data-toggle="tab">Active</a>
    </li>
    <li role="presentation">
        <a href="#historical" data-toggle="tab">Historical</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="active">

    <!-- Use an if statement to show content based on the number of active medications -->
    {% if active_meds|length == 0 %}
        <div style="text-align: center; margin-top: 10em;">
            <p>No Active Medications On File</p>
        </div>
        <div class="text-center">
            <a href="{{ url_for("profile.active_medication_add") }}">
                {{ form.add_btn(class="btn btn-info") }}
            </a>
        </div>

    {% else %}
        <!-- Show medication table -->
        {{table}}

        <div class="text-right" style="margin-top: 10px;">
            <a href="{{ url_for("profile.active_medication_add") }}">
                {{ form.add_btn(class="btn btn-info") }}
            </a>
        </div>
    {% endif %}
    </div>

    <div class="tab-pane fade" id="historical">

        <!-- Use an if statement to show content based on the number of active medications -->
        {% if historical_meds|length == 0 %}
            <div style="text-align: center; margin-top: 10em;">
                <p>No Historical Medications On File</p>
            </div>
            <div class="text-center">
                <a href="{{ url_for("profile.historical_medication_add") }}">
                    {{ form.add_btn(class="btn btn-info") }}
                </a>
            </div>

        {% else %}
            <!-- Show medication table -->
            {{historical_table}}

            <div class="text-right" style="margin-top: 10px;">
                <a href="{{ url_for("profile.historical_medication_add") }}">
                    {{ form.add_btn(class="btn btn-info") }}
                </a>
            </div>
        {% endif %}

    </div>
</div>

    <!-- modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Comment</h5>
                </div>

                <div class="modal-body">
                    <p id="modal_body"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- JS for modal that displays any comments that are clicked on. -->
    <script type="text/javascript">
        $('.comment').on('click', function() {
            let comment = $(this).text();
            if (comment !== "" && comment !== "Comment") {
                $("#modal_body").html(comment);
                $('#commentModal').modal('show');
            }
        })
    </script>

{% endblock %}
