{% extends "base.html" %}

{% block page_content %}

<!-- Header -->
<h1>Medications</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified mb-3" role="tablist">
    <li role="presentation" class="active">
        <a href="#active" class="btn btn-primary btn-block" data-toggle="tab">Active</a>
    </li>
    <li role="presentation">
        <a href="#historical" class="btn btn-primary btn-block" data-toggle="tab">Historical</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane show active" id="active" role="tabpanel" aria-labelledby="main-tab">

    <!-- Use an if statement to show content based on the number of active medications -->
    {% if active_meds|length == 0 %}
        <div style="text-align: center; margin-top: 10em;">
            <p>No Active Medications On File</p>
        </div>
        <div class="text-center">
            <a href="{{ url_for("profile.medication_add") }}">
                <button type="button" class="btn btn-info">Add Medication</button>
            </a>
        </div>
    {% else %}
        <!-- Show medication table -->
        <p>Active medications on record!</p>
                    <a href="{{ url_for("profile.medication_add") }}">
                <button type="button" class="btn btn-info">Add Medication</button>
            </a>

    {% endif %}


{#            <p>No Medications Listed</p>#}
 {#           <button type="button" class="btn btn-primary btn-floating" id = "button1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
                <p><em>Click here to add</em></p>#}{##}

    </div>
    <div id="historical" class="tab-pane fade">
        <div style = "text-align: center;margin-top:10em;" class = "button2">
            <p>No Medications Listed</p>
            <button type="button" class="btn btn-primary btn-floating" id = "button2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
                <p><em>Click here to add</em></p>
        </div>
    </div>
</div>

{% endblock %}
