{% extends 'base.html' %}

{% block page_content %}
<h1>Update Profile</h1>

<form method="POST">
{{ form.csrf_token }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <label for="first_name" class="form-label">{{ form.fname.label }}</label>
            {{ form.fname(class="form-control", id="first_name") }}
        </div>

        <div class="col-md-5">
            <label for="last_name" class="form-label">{{ form.lname.label }}</label>
            {{ form.lname(class="form-control", id="last_name") }}
        </div>

        <div class="col-sm-2">
            <label for="middle_initial" class="form-label">{{ form.minitial.label }}</label>
            {{ form.minitial(class="form-control", id="middle_initial") }}
        </div>
    </div>

    <div class="row row_margin">
        <div class="col-sm-5">
            <label for="date_of_birth" class="form-label">{{ form.dob.label }}</label>
            {{ form.dob(class="form-control", id="date_of_birth") }}
        </div>

        <div class="col-sm-2">
            <label for="weight" class="form-label">{{ form.weight.label }}</label>
            {{ form.weight(class="form-control", id="weight") }}
        </div>

        <div class="col-sm-5"></div>
    </div>

    <div class="row row_margin">
        <div class="col-sm-3">
            {{ form.update(class="btn btn-primary") }}
            {{ form.cancel(class="btn btn-danger") }}
        </div>

        <div class="col-sm-9"></div>
    </div>
</div>

</form>
{% endblock %}
