{% extends "base.html" %}

{% block page_content %}
<h1>Reset Password</h1>

    <form method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label for="password" class="form-label">{{ form.password.label }}</label>
        {{ form.password(class="form-control", id="password") }}
    </div>

    <div class="mb-3">
        <label for="password_confirm" class="form-label">{{ form.password2.label }}</label>
        {{ form.password2(class="form-control", id="password_confirm") }}
    </div>

    <div class="mb-3 row_margin">
         {{ form.submit(class="btn btn-primary") }}
    </div>

    </form>
{% endblock %}
